@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Klick to test</h2>
        <h2>Index</h2>
        @Ajax.ActionLink("Klikni", "TestResWrite", new AjaxOptions
        {
        UpdateTargetId = "partial",
        HttpMethod = "GET",
        OnSuccess = "fnSuccess",
        })
    </div>
    <div class="col-md-4">
        <h2 id="reswrite">Ovaj h2 updateuje Response.Write</h2>
    </div>
    <div class="col-md-4" id="partial">
        <h2>Ovo renderuje return partial</h2>
    </div>
</div>
<script>
    function fnSuccess() {
        console.log("radi!");
    }
</script>